@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(203, 226, 255);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin: 15vh auto;
  font-size: 1.2rem;
  width: 50%;
}

h1,
h2,
h3,
ul {
  margin: 10px;
}

span {
  font-weight: bold;
}
